*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    /* font-family: 'Roboto', sans-serif; */
}
html{
    scroll-behavior: smooth;
}
.outer_container{
    width: 100%;
    height: inherit;
    /* border: 2px solid red; */
}
.home_page{
    position: relative;
    width: 100%;
    height: 110vh;
    background: url(image/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav_bar{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: 2px solid rebeccapurple; */
    /* background: url(image/2.png); */
    background-position: center;
    background-size: cover;
}
.Login{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.Sign_Up{
    background-color: #ff8a5a;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
ul, li, a{
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    list-style-type: none;
}
.food_search{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 50%;
    height: 400px;
    /* border: 2px solid yellow; */
}
.bold_qoute{
    margin-bottom: 20px;
    color: white;
    font-weight: 400px;
    font-size: 5.5rem;
}
.light_text{
    color: white;
    margin-bottom: 40px;
    font-size: 1.4rem;
}
/* Subscribe Button CSS  stars here*/

label input{
    width: 500px;
    height: 70px;
    padding-left: 15px;
    border: none;
    background-color: white;
    border-radius: 50px;
    font-size: 1.1rem;
}
label {
    position: relative;
    margin-top: 20px;
}
.subscribe1{
    position: absolute;
    font-size: 1.1rem;
    right: 0;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background: #ff8a5a;
}
/* Subscribe button ends here */
.process_box{
    width: 80%;
    height: 250px;
    /* border: 2px solid yellow; */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: -100px;
}
.chooselocation{
    width: 350px;
    height: 200px;
    background-color: #22262f;
    z-index: 1;
    border-radius: 10px;
}
.chooselocation p{
    color:  #D8AB37;
    padding-left: 70px;
    padding-top: 30px;
}
.chooselocation h5{
    color:  white;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 1.2rem;
}
.chooselocation span{
    color:  grey;
    padding-left: 70px;
    max-width: 80%;
    display: block;
}
.order_food{
    width: 350px;
    height: 200px;
    background-color: #22262f;
    z-index: 1;
    border-radius: 10px;
}
.order_food p{
    color:  #D8AB37;
    padding-left: 70px;
    padding-top: 30px;
}
.order_food h5{
    color:  white;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 1.2rem;
}
.order_food span{
    color:  grey;
    padding-left: 70px;
    max-width: 80%;
    display: block;
}
.fast_delivery{
    width: 350px;
    height: 200px;
    background-color: #22262f;
    border-radius: 10px;
    z-index: 1;
}
.fast_delivery p{
    color:  #D8AB37;
    padding-left: 70px;
    padding-top: 30px;
}
.fast_delivery h5{
    color:  white;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 1.2rem;
}
.fast_delivery span{
    color:  grey;
    padding-left: 70px;
    max-width: 80%;
    display: block;
}

/* menu and the restraunt details */
.menu_breakfast{
    width: 100%;
    height: 100vh;
    clear: both;
    /* border: 2px solid yellowgreen; */
}
.breakfast_heading{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.breakfast_heading h2{
    font-size: 3.5rem;
}
.breakfast_heading p{
    font-size: 1.5rem;
}
.menu_pic{
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.frist_menu{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/Breakfast.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.frist_menu h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.frist_menu p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.rating_box{
    margin-top: 10px;
    widows: 50px;
    height: 30px;
    background-color: green;
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
}
.second_menu{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/Breakfast1.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.second_menu h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.second_menu p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.third_menu{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/Breakfast3.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.third_menu h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.third_menu p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.fourth_menu{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/Breakfast4.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.fourth_menu h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.fourth_menu p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

/* breakfast menu ends here and Lunch Starts */
.menu_lunch{
    width: 100%;
    height: 100vh;
    /* border: 2px solid yellowgreen; */
}
.lunch_heading{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.menu_lunch h2{
    font-size: 3.5rem;
}
.menu_lunch p{
    font-size: 1.5rem;
}
.menu_pic1{
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.frist_menu1{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/lunch1.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.frist_menu1 h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.frist_menu1 p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;
}
.rating_box1{
    margin-top: 10px;
    widows: 50px;
    height: 30px;
    background-color: green;
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
}
.second_menu1{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/lunch2.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.second_menu1 h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.second_menu1 p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;
}
.third_menu1{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/lunch3.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.third_menu1 h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.third_menu1 p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;
}
.fourth_menu1{
    width: 48%;
    height: 300px;
    /* border: 1px solid rebeccapurple; */
    background: url(image/lunch4.jpeg);
    background-size: cover;
    border-radius: 8px;
}
.fourth_menu1 h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.fourth_menu1 p{
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;
}


/*lunch ends here and dinner starts */
.dinner_section{
    width: 100%;
    height: 80vh;
    /* border: 1px solid red; */
    margin-top: 20px;
}
#dinner_heading{
    width: 100%;
    height: 100px;
    /* border: 1px solid goldenrod; */
    text-align: center;
    font-size: 3.9rem;
    font-weight: 900;
    /* margin-top: 200px; */
}
.online_text{
    text-align: center;
    margin-bottom: 30px;
}
.dishes_img{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.deatils_foods{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 20px;
}
.box{
    padding-top: 20px;
    width: 24%;
    height: 100px;
    border-radius: 8px;
    text-align: center;
    /* border: 1px solid red; */
}
.box p{
    font-size: 1.1rem;
    max-width: 80%;
    color: grey;
    margin: 0 auto;
}
.box1{
    width: 24%;
    height: 300px;
    /* border: 1px solid green; */
    border-radius: 8px;
    background: url(image/dinner1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box2{
    width: 24%;
    height: 300px;
    /* border: 1px solid green; */
    border-radius: 8px;
    background: url(image/dinner2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box3{
    width: 24%;
    height: 300px;
    /* border: 1px solid green; */
    border-radius: 8px;
    background: url(image/dinner3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box4{
    width: 24%;
    height: 300px;
    /* border: 1px solid green; */
    border-radius: 8px;
    background: url(image/dinner4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* dinner section ends here & Footer starts  */
.footer{
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    background-color: #22262f;
}
.footer_details1{
    width: 20%;
    height: 300px;
    /* border: 2px solid red; */
}
.footer_details1 h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    padding-top: 30px;
}
.footer_details1 p{
    /* font-weight: 600; */
    color: white;
    font-size: 1rem;
    line-height: 2.5rem;
}
.footer_details1 img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.footer_details2{
    width: 20%;
    height: 300px;
    /* border: 2px solid red; */
}
.p_span span{
    color: #d8ab37;
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 40px;
}
.p_span{
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}
.p_noSpan{
    color: white;
    font-size: 0.8rem;
    line-height: 2.5rem;
    font-weight: lighter;

}
.footer_details3{
    width: 20%;
    height: 300px;
    /* border: 2px solid red; */
}
.footer_details3 p{
    color: white;
    padding-top: 50px;
    text-align: center;
}
.footer_details3 img{
    width: 86%;
    height: 39px;
    margin-left: 25px;
    margin-top: 20px;
}


@media screen and (min-width : 320px) and (max-width : 500px) {
    .sign_up{
        display: none;
    }
    .nav_bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 100%;
        height: 100px; 
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    ul {
        margin-top: 20px;
    }
    .bold_qoute{
        font-weight: 200px;
        font-size: 1.5rem;
    }
    .light_text{
        font-size: .9rem;

    }
    label input{
        width: 300px;
        height: 40px;
        padding-left: 20px;
        border: none;
        background-color: white;
        font-size: .8rem;
    }
    label {
        position: relative;
        margin-top: 20px;
    }
    .subscribe1{
        position: absolute;
        font-size: .8rem;
        right: 0;
        bottom: -10px;
        width: 100px;
        height: 40px;   
    }
    .process_box{
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .menu_breakfast{
        clear: both;
    }
    .menu_lunch{
        clear: both;
    }
    .breakfast_heading{
        width: 100%;
    }
    #break1{
        font-weight: 200px;
        font-size: 1.5rem; 
    }
    .breakfast_heading p{
        font-size: .9rem;
    }
    .menu_pic{
        margin: 0 auto;
        width: 70%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .frist_menu{
        width: 100%;
    }
    .second_menu{
        width: 100%;
    }
    .third_menu{
        width: 100%;
    }
    .fourth_menu{
        width: 100%;
    }
    .dinner_section{
        width: 100%;
        clear: both;
    }
}
